pyspark
findspark
torch
numpy
pandas
scipy
scikit-learn
polars
orjson
pyarrow
awswrangler
accelerate
duckdb
s3fs
umap-learn
smart-open
onnxruntime
spacy
sqlalchemy
pytest
transformers
seqeval
gensim
numba
datasets
neo4j
